#Lija{
    width: 200px;
    height: 100px;
    background-color: dodgerblue;
}
.Habiba{
    width: 200px;
    height: 100px;
    background-color: brown;
}
.Tasnim{
    width: 200px;
    height: 100px;
    background-color: chocolate;
}
#Afsin{
    width: 200px;
    height: 100px;
    background-color: deeppink;
}
.Reem{
    width: 200px;
    height: 100px;
    background-color: blue;
}
#Shahariea{
    width: 200px;
    height: 100px;
    background-color: blueviolet;
}